<div class="formulario">
  <!-- Para pasar parámetros a la vista, desde el controlador. En caso de querer pasar
  más de uno, se trata de un hash, por lo que lo escribimos así:

    <%# render "form", {name: ("Editar artículo con id " + params[:id]), otra_variable: "otro valor"} %>
 -->
  <%= render "form", name: "Crear artículo" %>
</div>
