
.main-color{
  background-color: #FF6138;
  color: #F2F2F2;
}

.rojo{
  color: #FF6138;
}

.naranja{
  color: #F2F2F2;
}

html, body{
  margin: 0px 0px;
  font-family: 'Roboto', sans-serif;
  background-image: none;
}

a {
  color:inherit;
  text-decoration: none;
}

a boton_visitado:visited{
  color: #2E2EFE;
}

.no-list{
  list-style-type: none;
  display: table;
}

.logo{
  margin-right: 100px;
}

.col-md{
  display: table-cell;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
  font-size: 20px;
}

.formulario{
  width: 80%;
  margin: 0 auto;
}

.field{
  margin-top: 1em;
}

.area{
  height: 250px;
}

.form-control{
  border: none;
  border-bottom: 1px solid;
  outline: none;
  width: 100%;
  display: block;
  padding: 10px 0px;
  font-size: 1.2em;
}

.boton{
  font-size: 1.2em;
  padding: 10px 12px;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  outline: none;
}

.space-top{
  margin-top: 10px;
}
